body { background-color: #000; color: #fff; text-align: center; font-family: sans-serif; margin: 0; overflow: hidden; }
.game-container { padding: 20px; }
.balance-container { font-size: 40px; color: #f3ba2f; margin: 10px 0; }
.coin-container img { width: 250px; cursor: pointer; transition: transform 0.1s; }
.coin-container img:active { transform: scale(0.95); }
.energy-bar { background: #333; height: 15px; border-radius: 10px; margin-top: 20px; }
#energy-fill { background: #f3ba2f; height: 100%; width: 100%; border-radius: 10px; transition: width 0.2s; }

